{% extends 'base.html.twig' %}

{% block body %}
        <div>Вероятность безотказной работы - {{ data.pt }}</div>
        <div>Интенсивность отказов - {{ data.lt }}</div>
        <div>Плотность вероятности отказов - {{ data.ft }}</div>
        <div>Средняя наработка до отказа - {{ data.tsr }}</div>
        <div>Среднее квадратическое отклонение наработки до отказа - {{ data.sigma }}</div>
        <div>Параметр потока отказов - {{ data.omega }}</div>
        <div>Вероятность безотказной работы - {{ data.pTau }}</div>
        <div>Число отказов на 1000 часов налёта - {{ data.Kthousand }}</div>
{% endblock %}
